/********** Template CSS **********/
:root {
    --primary: #28844B;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #349c5e;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: #349c5e;
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/Tutornge\ banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}
/* Additional styles for the quotes */
.testimonial {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.quote {
    font-size: 18px;
    font-style: italic;
    color: #fff;
    margin-bottom: 10px;
}

.blockquote-footer {
    color: #fff;
    font-size: 14px;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/* Footer */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 30px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #349c5e;
}

.footer .btn.btn-social {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    background-color: #349c5e;
    border-color: #349c5e;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    opacity: 0.8;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/* Add this CSS to your stylesheet */
.logo-img {
    max-height: 150px; /* Set a larger maximum height for the logo */
    width: auto; /* Allow the width to adjust automatically */
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center the image within the container */
}

/* Optional: Add additional styling for smaller devices */
@media (max-width: 768px) {
    .logo-img {
        max-height: 150px; /* Adjust the maximum height for smaller screens */
    }
}

.container-xxl {
    max-width: 1140px;
    margin: 0 auto;
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.text-primary {
    color: var(--primary);
}

.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.container-xxl {
    margin-top: 50px;
}

.section-title {
    font-size: 1.5rem;
    padding: 10px 0;
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.package-item {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.package-item:hover {
    transform: scale(1.05);
}

.package-item h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #343a40;
}

.package-item h2 {
    font-size: 2.5rem;
    margin: 15px 0;
    color: #28a745;
}

.price {
    font-size: 1.5rem;
    color: #28a745;
}

.btn-get-started {
    border-radius: 30px;
    background-color: #28a745;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.btn-get-started:hover {
    background-color: #28a745;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 20px;
}

.list-unstyled li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.list-unstyled li i {
    margin-right: 10px;
    color: #28a745;
}

.radio-label {
    font-size: 1rem;
    color: #28a745;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
}
/* Additional styles for the quick links */
.quick-links-box {
    
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
}

.quick-links-box h4 {
    font-size: 18px;
}

.quick-links-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.quick-links-box li {
    margin-bottom: 10px;
}

.quick-links-box a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.quick-links-box a:hover {
    color: #349c5e;
}
/* Additional styles for the contact info */
.contact-info-box {
    
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
}

.contact-info-box h4 {
    font-size: 18px;
}

.contact-info-box address, .contact-info-box p {
    margin-bottom: 10px;
}

.contact-info-box a {
    color: #fff;
    text-decoration: none;
}

.contact-info-box a:hover {
    color: #349c5e;
}
